.p5-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container-p5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}

.p5-slider[type='range'] {
    width: 519px;
    max-height: 30px;
    background: transparent;

}

input[type='range'] {
    background: transparent;

}

.p5-1-10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 519px;
    margin-bottom: 20px;
}


.p5-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 20px;
    width: 50px;
    background:
        linear-gradient(to right,
            rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.1) 9.55%,
            transparent 9.55%, transparent 10.05%,
            rgba(255, 255, 255, 0.2) 10.05%, rgba(255, 255, 255, 0.2) 19.6%,
            transparent 19.6%, transparent 20.1%,
            rgba(255, 255, 255, 0.3) 20.1%, rgba(255, 255, 255, 0.3) 29.65%,
            transparent 29.65%, transparent 30.15%,
            rgba(255, 255, 255, 0.4) 30.15%, rgba(255, 255, 255, 0.4) 39.7%,
            transparent 39.7%, transparent 40.2%,
            rgba(255, 255, 255, 0.5) 40.2%, rgba(255, 255, 255, 0.5) 49.75%,
            transparent 49.75%, transparent 50.25%,
            rgba(255, 255, 255, 0.6) 50.25%, rgba(255, 255, 255, 0.6) 59.8%,
            transparent 59.8%, transparent 60.3%,
            rgba(255, 255, 255, 0.7) 60.3%, rgba(255, 255, 255, 0.7) 69.85%,
            transparent 69.85%, transparent 70.35%,
            rgba(255, 255, 255, 0.8) 70.35%, rgba(255, 255, 255, 0.8) 79.9%,
            transparent 79.9%, transparent 80.4%,
            rgba(255, 255, 255, 0.9) 80.4%, rgba(255, 255, 255, 0.9) 89.95%,
            transparent 89.95%, transparent 90.45%,
            rgba(255, 255, 255, 1.0) 90.45%, rgba(255, 255, 255, 1.0) 100%);
}

.p5-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.p5-slider::-webkit-slider-runnable-track:focus {
    -webkit-appearance: none;
}

.p5-slider:focus {
    outline: none;
}

.p5-slider-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 519px;
    height: 110px;
}

.new-pro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 519px;
}

.p5-slider-value-text-container {
    display: flex;
    position: absolute;
    top: -10px;
    width: 25px;
    height: 34px;
    background-color: #546578;
    justify-content: center;
    align-items: center;

}


.p5-slider-value-text-container::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #556579;
}

.p5-slider-indicattor-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 519px;
}

.slider-container {
    position: relative;
}

.slider-container::after {
    content: attr(data-value);
    position: absolute;
    left: var(--position);
    bottom: 30px;
    transform: translateX(-50%);
    top: -35px;
}

.p5-info-box {
    display: flex;
    flex-direction: column;
    width: 517px;
    height: 135px;
    background-color: #556579;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 17px;
}

.progress-content-p5 {
    height: 12px;
    width: 64%;
    background-color: #E2C47C;
    text-align: center;
    /* line-height: 20px; */
    color: white;
    transition: width 0.4s ease-in-out;
}


.p5-info-title {
    margin-left: 33px;
    align-self: flex-start;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}

.p5-info-text {
    align-self: flex-start;
    margin-left: 33px;
    font-family: "Work Sans";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17px
}


@media screen and (max-width: 768px) {
    .p5-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 335px;
        margin: 0 20px;
        margin-bottom: 376px;
    }

    .p5-container {
        align-self: center;
        max-width: 335px;
    }

    .p5-slider-wrapper {
        max-width: 355px;
    }

    .p5-1-10 {
        max-width: 355px;

    }

    .p5-slider {
        max-width: 355px;

    }

    .p5-info-box {
        max-width: 355px;

    }

    .new-pro-container {
        max-width: 355px;

    }
}
